body 
{
}

#RadioArt-Position{
	width: 360px;
	height: 476px;

	margin: auto;
	margin-top: 95px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

#RadioArt{ 
	
}

#RadioArt-Body{
	width: 80%;
	height: 80%;

	margin: auto;
	margin-top: 10%;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	background: #883322; 
	
	border-top-left-radius: 40% 20%;
	border-top-right-radius: 40% 20%;
}


#RadioArt-BodyInternal{
	width: 80%;
	height: 90%;
	margin: auto;
	margin-top: -20%;
	float: center;
	border-color: black;
	border-width: 1px;
	border-style: none;
	background: #883322; 
	border-top-left-radius: 20% 60%;
	border-top-right-radius: 20% 60%;

}

#RadioArt-Arms{
	width: 103%;
	height: 5%;
	margin-top: 35%;
	float: center;
	margin-left: -3%;
	border-color: black;
	border-width: 4px;
	border-style: solid;
	border-top-style: none;
	border-bottom-style: none;
	border-top-left-radius: 5% 60%;
	border-top-right-radius: 5% 60%;
	border-bottom-left-radius:5% 70%;
	border-bottom-right-radius: 5% 70%;
}
#RadioArt-Arms2{
	width: 103%;
	height: 5%;
	float: center;
	margin-left: -3%;
	border-color: black;
	border-width: 4px;
	border-style: solid;
	border-top-style: none;
	border-bottom-style: none;
	border-top-left-radius: 5% 60%;
	border-top-right-radius: 5% 60%;
	border-bottom-left-radius:5% 70%;
	border-bottom-right-radius: 5% 70%;
}

#RadioArt-Foot
{
	width: 90%;
	height: 5%;
	margin: auto;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background: #883322; 
	border-top-left-radius: 5% 60%;
	border-top-right-radius: 5% 60%;
	border-bottom-left-radius:5% 70%;
	border-bottom-right-radius: 5% 70%;
}
#RadioArt-Foot2
{
	width: 95%;
	height: 5%;
	margin: auto;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background: #883322; 
	border-top-left-radius: 5% 60%;
	border-top-right-radius: 5% 60%;
}